.fixedButton {
  max-width: 850px;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  animation: slidein 0.5s ease 0s;
}

@keyframes slidein {
  0% {
    opacity: 0;
    bottom: -100%;
  }

  100% {
    opacity: 1;
    bottom: 0%;
  }
}
